/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
body 
{
	width: 750px;
	margin: 0 auto;
}

table 
{
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;
}

thead 
{
	background-color: yellow;
}

th, td 
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}



tbody tr:nth-child(even) td 
{
	background-color: yellow;
}
.department {
	background-color: white !important;
	font-weight: bold;
	vertical-align: top;
}

.right {
	text-align: right;

}
.bold {
	font-weight: bold;
}
table caption {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 12px;
}
div {
	border: 2px black solid;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 16px;
}

