body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #B0D9B1;
}

form {
  background-color: #D0E7D2;
  width: 60%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "DynaPuff", system-ui;
  font-weight: 200;
  text-align: center;
  margin-top: 20px;
  color: #618264;
  font-size: 2em;
}

label {
  font-family: "DynaPuff", system-ui;
  color: #618264;
  font-size: 1.2em;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  text-align: left;
}

input[type="email"],
input[type="text"],
input[type="url"] {
  width: 96%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="url"]:focus {
  border-color: #618264;
  outline: none;
}

button {
  font-family: "DynaPuff", system-ui;
  background-color: #618264;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  width: 80%;
}

button:hover {
  background-color: #79AC78;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
}

.ui-datepicker-prev::before {
  content: "\f104";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.ui-datepicker-next::before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}